body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
}

/* Login box */
.box {
    background:white;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

/* Title */
h2 {
    text-align: center;
}

/* Input */
input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* Button */
button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #2575fc;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* Hover */
button:hover {
    background: #1a5ed8;
}

/* Mobile */
@media(max-width:400px){
    .box{
        width: 90%;
    }
}